{
    "presets": [
        "es2015-script"
    ],
    "plugins": [
        "external-helpers",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}